[submodule "rps-sys/vendor/Vulkan-Docs"]
	path = rps-sys/vendor/Vulkan-Docs
	url = https://github.com/KhronosGroup/Vulkan-Docs
[submodule "rps-sys/vendor/Vulkan-Headers"]
	path = rps-sys/vendor/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers/
[submodule "rps-sys/vendor/RenderPipelineShaders"]
	path = rps-sys/vendor/RenderPipelineShaders
	url = https://github.com/projectkml/RenderPipelineShaders
