[submodule "render-pipeline-shaders-sys/vendor/Vulkan-Docs"]
	path = render-pipeline-shaders-sys/vendor/Vulkan-Docs
	url = https://github.com/KhronosGroup/Vulkan-Docs
[submodule "render-pipeline-shaders-sys/vendor/Vulkan-Headers"]
	path = render-pipeline-shaders-sys/vendor/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers/
[submodule "render-pipeline-shaders-sys/vendor/RenderPipelineShaders"]
	path = render-pipeline-shaders-sys/vendor/RenderPipelineShaders
	url = https://github.com/ProjectKML/RenderPipelineShaders
